# /etc/sysconfig/docker
#
# Other arguments to pass to the docker daemon process
# These will be parsed by the sysv initscript and appended
# to the arguments list passed to docker daemon

INSECURE_REGISTRY="--insecure-registry 192.168.31.10:5000"
